.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	font-weight: lighter;
	font-size: 80%;
	margin-left: 2rem;
	margin-bottom: 1rem
}

.lambda{
	color: #32AFFC;
}

.extensionMethod{
	color: #ff6633;
}

.anonymousType{
	color: #1ea12d;
}

.objectInit{
}
.lambdaBackground{
	background-color: #32AFFC;
}

.extensionMethodBackground{
	background-color: #ff6633;
}

.anonymousTypeBackground{
	background-color: #1ea12d;
}

.objectInitBackground{	
}

.leftMargin2{
	margin-left: 2rem;
}

.leftMargin4{
	margin-left: 4rem;
}

.leftMargin6{
	margin-left: 6rem;
}

.leftMargin8{
	margin-left: 8rem;
}

.floatingLeftSide{
	float: left;
}

.floatingRightSide{
	float: left;
	margin-left: 15rem;
}

/* parallax demo */


/* parallax demo */

.parallax-demo {
	overflow: hidden;
}

.parallax-demo .back {
	position: absolute;
	left: 5%;
	top: 25%;
	z-index: 40;
}

.parallax-demo .front {
	position: absolute;
	left: 30%;
	bottom: 10%;
	z-index: 50;
}

.parallax-demo .back2 {
	position: absolute;
	left: 5%;
	bottom: 0%;
	z-index: 40;