a:link
	{color: #333399;  text-decoration: none; }
a:active
	{color: #CC3300; text-decoration: none;
}
a:visited
	{color: #778899; text-decoration: none;
}
a:hover {color: #CC3300;  text-decoration: underline; }

.index_text {
	font-family : Arial, Helvetica, sans-serif;
	line-height : 120%;
} 
.tabellen_text {
	font-family : Arial, Helvetica, sans-serif;
}
.text_klein {
	font-family : Arial, Helvetica, sans-serif;
        font-size : 75%;
} 
.titel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 145%;
} 
.ueberschrift1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 110%; color: #666666
}
.tabelle_grau {
	border: 1px solid #666666;
}
.suchfeld {
border: solid 1px #666666;
font-family: Arial, Helvetica, MS Sans Serif;
font-size:8pt;
color:#666666;
background-color: #eeeeee;
}		

BODY {
 	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	SCROLLBAR-FACE-COLOR: #eeeeee; 
	SCROLLBAR-HIGHLIGHT-COLOR: #f4f4f4; 
	SCROLLBAR-SHADOW-COLOR: #999999;  
	SCROLLBAR-3DLIGHT-COLOR: #999999; 
	SCROLLBAR-ARROW-COLOR: #999999; 
	SCROLLBAR-TRACK-COLOR: #e3e3e3;
	SCROLLBAR-DARKSHADOW-COLOR: #e7e7e7; 
	SCROLLBAR-BASE-COLOR: #e7e7e7
}
