a:link
	{color: #333399;
}
a:active
	{color: #CC3300;
}
a:visited
	{color: #778899;
}
a:hover {color: #CC3300;
}
.text_e2 {
	font-family : Arial, Helvetica, sans-serif;
	line-height : 135%; color : #333333;
} 
.text_e3 {
	font-family : Arial, Helvetica, sans-serif;
	line-height : 125%; color : #333333;
} 
.einzeilig {
	font-family : Arial, Helvetica, sans-serif;
	color : #333333;
}
.text_klein {
	font-family : Arial, Helvetica, sans-serif;
        font-size : 75%; line-height : 95%;  color : #333333; 
} 
.text_box {
	font-family : Arial, Helvetica, sans-serif;
        font-size : 80%;  color : #666666;
} 
.titel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 145%; color : #666666;
} 
.ueberschrift1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 110%; color: #666666;
}
.ueberschrift2 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 105%; line-height : 125%;  color : #000000;
}
.tabelle_grau {
	border: 1px solid #666666;
}

BODY {
 	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	SCROLLBAR-FACE-COLOR: #eaeaea; 
	SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; 
	SCROLLBAR-SHADOW-COLOR: #000033;  
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #000066; 
	SCROLLBAR-TRACK-COLOR: #cccccc;
	SCROLLBAR-DARKSHADOW-COLOR: #666666; 
	SCROLLBAR-BASE-COLOR: #000066
}
